<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Website name - {{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <h1>The site is currently being updated</h1>
    <p>Will be right back</p>
    {{> footer}}
  </body>
</html>
